<!doctype html>
<html lang="en" class="yes-js">
<head>
  <meta charset="utf-8">
  <!--[if IE]><![endif]-->

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Promote JS! A Worldwide Call for Improving JS Documentation Visibility!</title>
  <meta name="description" content="JS Documentation, Learn JavaScript, Become a JavaScript ninja, rockstar, programming JS, JS WTF!? Pete Higgins for President!">
  <meta name="author" content="jsconf">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="css/style.css?v=1">
  <script type="text/javascript" src="http://use.typekit.com/dxe4wxq.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div id="container">
    <header>
      <h1>Promote JS!</h1>
      <h2>Better Docs For Us, By Us!</h2>
    </header>
    
    <div id="promo-code">
    <%- body %> 
    </div>

    <div id="main">
    <p><a href='https://developer.mozilla.org/en/JavaScript'>JavaScript</a> (JS) is such a widely used langauge that you would assume the first hit on google for a search like <a href='http://www.google.com/search?q=JavaScript'>"JavaScript"</a> would yield something of value, right? Well, unfortunately that is not so and in general JS documentation is hard to find through normal search methods, but we don't have to let it be that way!! What if every developer helped to promote the most proper and correct JS documentation? Answer: we could change everything! This is your call to action to help bring down bad documentation and promote proper JS documentation and tutorials! Join now by copying the provided HTML code above and paste it into your website, your blog, your friend's blog, and be sure to tell your friends why you are doing it. You will get a unique promote code each time you visit, based on metrics and targets, so just refresh if you want to help promote something different (Function, Array, Object, oh my).</p>
	<p>Don't worry about performance, we have squeezed every last bit out of the images and they are all hosted on a CDN so it will be super fast. Also be sure to tweet this so everyone will know!</p>
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.promotejs.com" data-text="Help change the world by promoting better JS documentation!" data-count="vertical">Tweet</a>
    </div>
    
    <footer>
    <p>Created by the <a href='http://jsconf.us'>Pirates of JSConf</a>.</p>
    </footer>
  </div>
  
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>   
  <script>
   var _gaq = [['_setAccount', 'UA-1264213-19'], ['_trackPageview']]; 
   (function(d, t) {
    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
    g.async = true; g.src = '//www.google-analytics.com/ga.js'; s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  
</body>
</html>
