<!doctype html>
<html lang="en" class="yes-js">
<head>
  <meta charset="utf-8">
  <!--[if IE]><![endif]-->

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Promote JS! A Worldwide Call for Improving JS Documentation Visibility!</title>
  <meta name="description" content="JS Documentation, Learn JavaScript, Become a JavaScript ninja, rockstar, programming JS, JS WTF!? Pete Higgins for President!">
  <meta name="author" content="jsconf">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <link rel="shortcut icon" href="/favicon.png">
  <style type="text/css">
    body { background: #303030; padding:0px; margin:0px; text-align:center; font-family: Arial, sans-serif;}
    #container { width: 650px; background: #FFF; border-right: 1px solid #414141; padding: 20px; height: 100%; text-align: left; margin: 0px auto;}
    h1 { font-size: 60px; color: #EE651A; padding: 0px; margin-bottom: 6px; margin-top: 0px; text-align: center; }
    h2 { text-align: center; margin-top: 0px; padding:0px; margin-bottom:12px;  }
    p { line-height: 1.5; font-size: 0.8em;}
    textarea { background-color: white;border: 1px solid #CCC;border-bottom-left-radius: 4px 4px;border-bottom-left-radius: 4px 4px;border-bottom-right-radius: 4px 4px;border-bottom-right-radius: 4px 4px;border-top-left-radius: 4px 4px;border-top-left-radius: 4px 4px;border-top-right-radius: 4px 4px;border-top-right-radius: 4px 4px;font-size: 12px;padding: 6px; font-family:sans-serif;display: block;height: 60px;margin: 1.5em 0px 0px;padding: 6px;width: 535px; }
    textarea:hover { -webkit-transition: border 0.2s linear, -webkit-box-shadow 0.2s linear; border: 1px solid #AAA; }
    footer { margin-top: 20px; border-top: 1px solid #414141; padding-top: 10px}
    #promo-code { text-align: center}
    #promo-code h3 { text-align: left; }
    #twitter { float: right; padding-top: 5px; padding-left: 20px}
    a, a:visited, a:link { color:#b81912; font-weight: bold;}
  </style>
  <script type="text/javascript" src="http://use.typekit.com/dxe4wxq.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div id="container">
    <header>
      <h1>Promote JS!</h1>
      <h2>Better Docs For Us, By Us!</h2>
    </header>
    
    <div id="promo-code">
    <%- body %> 
    </div>

    <div id="main">
    <p><a href='https://developer.mozilla.org/en/JavaScript'>JavaScript</a> (JS) is such a widely used language that you would assume the first hit on google for a search like <a href='http://www.google.com/search?q=JavaScript'>"JavaScript"</a> would yield something of value, right? Well, unfortunately that is not so and in general JS documentation is hard to find through normal search methods, but we don't have to let it be that way!! What if every developer helped to promote the most proper and correct JS documentation? Answer: we could change everything! This is your call to action to help bring down bad documentation and promote proper JS documentation and tutorials!</p>
 	<p>This will be a long and hard battle, and you will have to write blog posts and articles that link back to documentation that you believe is of high value and quality, but by doing so you are helping change things. For a quick win, help out by copying the provided HTML code above and paste it into your website, your blog, your friend's blog, and be sure to tell your friends why you are doing it - that you believe in better documentation. Also be sure to write a blog post about it AND most importantly link to the documentation for <a href='https://developer.mozilla.org/en/javascript>JavaScript</a> <a href='https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/String'>String</a>, <a href='https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Function'>Function</a>, <a href='https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Array'>Array</a>, <a href='https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Object'>Object</a>, etc.</p>
	<h3>What is up with the banner?</h3>
	<p>This site generates a unique promote code each time you visit, based on metrics and targets, so just refresh if you want to help promote something different or write your own but link it to proper JavaScript documentation. Ideally you place this code into a site that deals with technology, specifically JavaScript, but not required. Then as more people being to link their articles, note this part is key, AND put buttons in, we can change the search results. We are also working to improve the MDN and other such resources as well as pool them together in a more concise manner. This is not something that is a one off item, but a long term commitment for us, by us to improve things.</p>
    
    </div>
    
    <footer>
    <p>Created by the <a href='http://jsconf.us'>Pirates of JSConf</a>.</p>
    </footer>
  </div>
  
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>   
  <script>
   var _gaq = [['_setAccount', 'UA-1264213-19'], ['_trackPageview']]; 
   (function(d, t) {
    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
    g.async = true; g.src = '//www.google-analytics.com/ga.js'; s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  
</body>
</html>
